::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: transparent;
    border:0.1em solid rgba(255, 255, 255, 0.1);
    }
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0.1);
}

body {
    background: #111;
}
#file-tree {
    background: #202020;
}

#status-area {
    background: #05B088;
}
#status-area .cursor-pos {
    color: white;
}

.tab , #tabs-area .wrapper{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #ccc;
    background: #333;
    z-index: 98;
}

.tab.active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background: #05B088;
    z-index:99;
}
ul.CodeMirror-hints {
    border: 1px solid #05B088;
    font-family: Roboto;
    letter-spacing: 1px;
}
li.CodeMirror-hint-active {
    font-weight: bold;
}

.jstree li.jstree-node {
    color: white;
}
.jstree li.jstree-node .jstree-icon {
    color:#05B088;
}
a.jstree-default, a.jstree-clicked {
    background: rgba(255,255,255, 0.2) !important;
}

#finder-wrapper #finder, #finder-wrapper #finder-results {
    border:1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.08);
    color: white;
}
#finder-wrapper #finder-results {
    background: rgba(255,255,255,0.2);
}