@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.woff2");
}

body {
  font-family: Roboto,sans-serif;
  height: 100%;
  min-height: 100%;
}
#main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0;
  padding-right: 0;
}
#tabs-area {
  height: 5%;
  display:block;
  list-style-type: none;
  overflow-x: auto;
}
#tabs-area .wrapper {
  height: 100%;
}
#tabs-area .tab {
  display: inline-block;
  width: 180px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin:0;
  cursor: pointer;
  list-style-position:inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tabs-area .tab span {
  display: block;
  max-width: 18ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#tabs-area .tab button {
  position: inline;
  margin-top: -20px;
}
#editors-area {
  height: 95%;
  display:block;
}
.editor, .CodeMirror {
  height: 100% !important;
  padding-top: 5px;
}
#tabs-area, #editors-area {
  margin: 0;
  padding: 0;
}
#working-area .row-fluid{
  height: 100%;
}

#file-tree {
  height:100%;
  padding-left: 0;
  padding-right: 0;
  overflow-x: auto;
}

#status-area .cursor-pos {
  float: right;
  width: auto;
  padding-right: 15px;
}
.CodeMirror-line span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

.jstree li.jstree-node .jstree-icon {
  font-size:12px;
}

#finder-wrapper {
  position: absolute;
  z-index: 999999;
  left: 10%;
  top: 10%;
  padding:0;
  display: none;
  box-shadow: 0px -8px 8px rgba(255,255,255,0.05);
}
#finder-wrapper #finder {
  height: 40px;
  line-height: 6px;
}
#finder-results {
  z-index: 999999;
  min-height: 150px;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  overflow-y: auto;
}
#finder-results li {
  height: 40px;
  padding-top:10px;
  padding-bottom: 10px;
}
#finder-results li a{ 
  text-decoration: none;
  font-size:16px;
  margin-left:15px;
}